<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar bg-white">
            <h1 class="title text-secondary">
                Listes des taches
            </h1>

            <div class="list-menu">
                <a href="#" class="list-menu-item is-active">
                    <p>List #1</p>
                </a>
                <a href="#" class="list-menu-item">
                    <p>List #2</p>
                </a>
                <a href="#" class="list-menu-item">
                    <p>List #3</p>
                </a>
            </div>

            <button class="primary text-secondary">+ New List</button>
        </div>
        <div class="task-list-container bg-gray-100">
            <h1 class="title text-secondary">
                Tâches
            </h1>

            <div class="tasks">
                <p>I have to do this</p>
            </div>
            <div class="tasks">
                <p>I have to do this</p>
            </div>
            <div class="tasks complete">
                <p>I have to do this</p>
            </div>
        </div>
    </div>
</div>
